@font-face {
  font-family: "ungkam";
  src: url("~@/assets/fonts/UngBasR.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "ungkam";
  src: url("~@/assets/fonts/UngBasI.ttf") format("truetype");
  font-style: italic;
}
